<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>Welcome to Graham's IPND Notes</h1>
<div id="Container">
  <div id="Towels">
    <a href="../section_01">
      <div class="section1"></div>
    </a> 
    <a href="../section_02">
      <div class="section2"></div>
    </a> 
    <a href="../section_03">
      <div class="section3"></div>
    </a> 
    <a href="../section_04">
      <div class="section4"></div>
    </a> 
    <a href="../section_05">
      <div class="section5"></div>
    </a> 
    <a href="../about">
      <div class="about"></div>
    </a> 
    <a href="../guestbook">
      <div class="guestbook"></div>
    </a> 
  </div>
</div>
 </body>
 </html>