<!DOCTYPE html>
<html>
  <head>
    <title> Graham's IPND Notes</title>
    <link rel="stylesheet" href="css/style.css">
  <nav>
  |
  <a href="/">Main Page</a> |
  <a href="section_01">Section 1</a> |
  <a href="section_02">Section 2</a> |
  <a href="section_03">Section 3</a> |
  <a href="section_04">Section 4</a> |
  <a href="section_05">Section 5</a> |
  <a href="about">About</a> |
  <a href="guestbook">Guestbook</a> |
</nav>
  </head>
  <body>
  	<h1>Intro to Programming Nanodegree</h1>
  	{% block content %}
	{% endblock %}
  </body>
  <br>  
<footer>
 <div class="compatibility">
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>
  </div>
</footer>
</html>
